stages:
  - build
  # - deploy

#pact-macos:
#  stage: build
#  tags:
#    - macos
#  script:
#    - nix-build
#    - nix-build project.nix -A proj.ghc.pact
#    - nix-build project.nix -A proj.ghc.pact.doc
#    - nix-build project.nix -A proj.ghcjs.pact
#    - nix-build project.nix -A proj.ghcjs.pact.doc
#    # - ./collectArtifacts.sh macos
#  # artifacts:
#  #   paths:
#  #   - public-macos/

pact-linux:
  stage: build
  tags:
    - linux
  script:
    - nix-build project.nix -A proj.ghc.pact-do-benchmark
    - nix-build project.nix -A proj.ghc.pact.doc
    - nix-build project.nix -A proj.ghcjs.pact
    - nix-build project.nix -A proj.ghcjs.pact.doc

#    - ./collectArtifacts.sh linux
#  artifacts:
#    paths:
#    - public-linux/

# pages:
#   stage: deploy
#   script:
#     - mkdir public
#     - mv public-macos public/
# #    - mv public-linux public/
#   artifacts:
#     paths:
#     - public/

# pact-linux-static:
#   stage: build
#   script:
#     - nix-build static.nix --argstr system x86_64-linux
#   tags:
#     - linux
