.stack-work
/TAGS
/tags
/ctags
/repl.prof
/benchy
.cabal-sandbox
/cabal.sandbox.config
dist
dist-newstyle
docs/_build
docs/en/_build
docs/jp/_build
docs/kr/_build
/web/pact.js
/web/pact.min.js
/web/npm-debug.log
log/
/deleteme.sqllite
/.pact-history
/result
