.stack-work
/TAGS
/repl.prof
/benchy
.cabal-sandbox
/cabal.sandbox.config
dist
dist-ghcjs
dist-newstyle
docs/_build
result
/web/pact.js
/web/pact.min.js
/web/npm-debug.log
log/
/deleteme.sqllite
all.js
all.js.externs
lib.js
out.js
out.stats
rts.js
runmain.js
manifest.webapp
