name: Build and publish application binaries

on:
  push:
    branches:
    - master
    - github-ci
    - ci/*

jobs:
  build:
    name: Build master with ${{ matrix.ghc }} / ${{ matrix.cabal }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ghc: ['8.6.5', '8.8.4', '8.10.2']
        cabal: ['3.2']
        os: ['ubuntu-16.04', 'ubuntu-18.04', 'ubuntu-20.04', 'macOS-latest' ] # windows-latest is temporarily disabled
        cabalcache: ['true']
        exclude:
        - os: 'windows-latest'
          ghc: '8.6.5'
        # include:
        # - os: 'windows-latest'
        #   storepath: '--store-path=${HOME}/AppData/Roaming/cabal/store'

    env:
      # Aritfacts
      ARTIFACT_BUCKET: kadena-cabal-cache
      BINFILE: pact.${{ matrix.ghc }}.${{ matrix.os }}.${{ github.sha }}.tar.gz
      LATEST_BINFILE: pact.${{ matrix.ghc }}.${{ matrix.os }}.master.tar.gz"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    # Non Haskell dependencies
    - name: Install non-Haskell dependencies (ubuntu)
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y git zlib1g-dev libtinfo-dev libsqlite3-dev libz3-dev z3
    - name: Install non-Haskell dependencies (macOS)
      if: contains(matrix.os, 'mac')
      run: |
        echo 'skip'
    - name: Install non-Haskell dependencies (windows)
      if: contains(matrix.os, 'windows')
      run: choco install -y -r awscli

    # Haskell Setup
    - name: Install GHC and Cabal
      uses: actions/setup-haskell@v1
      with:
         ghc-version: ${{ matrix.ghc }}
         cabal-version: ${{ matrix.cabal }}
    - name: Confirm GHC and Cabal installation
      run: |
        ghc --version
        cabal --version
    - name: Setup PATHs (windows)
      if: "contains(matrix.os, 'windows')"
      shell: bash
      run: |
        echo "/c/ProgramData/chocolatey/lib/ghc/tools/ghc-${{ matrix.ghc }}/bin" >> $GITHUB_PATH
        echo "C:\\ProgramData\\chocolatey\\lib\\ghc\\tools\\ghc-${{ matrix.ghc }}\\bin" >> $GITHUB_PATH
        echo "/c/ProgramData/chocolatey/lib/cabal/tools/cabal-3.2.0.0" >> $GITHUB_PATH
        echo "C:\\ProgramData\\chocolatey\\lib\\cabal\\tools\\cabal-3.2.0.0" >> $GITHUB_PATH
        echo "/c/Users/runneradmin/AppData/Roaming/cabal/bin" >> $GITHUB_PATH
        echo "C:\\Users\\runneradmin\\AppData\\Roaming\\cabal\\bin" >> $GITHUB_PATH
        echo "/c/Program Files/Amazon/AWSCLI/bin" >> $GITHUB_PATH
        echo "C:\\Program Files\\Amazon\\AWSCLI\\bin" >> $GITHUB_PATH

        # these are needed for cabal-cache to work
        ln -s /c/ProgramData/chocolatey/lib/ghc/tools/ghc-${{ matrix.ghc }}/bin/ghc-pkg.exe /c/ProgramData/chocolatey/lib/ghc/tools/ghc-${{ matrix.ghc }}/bin/ghc-pkg-${{ matrix.ghc }}

    # Project Setup
    - name: Append cabal.project
      shell: bash
      run: |
        cat >> cabal.project <<EOF
        documentation: False
        package thyme
          tests: False
        constraints:
          base16-bytestring <1
        EOF
    - name: Append cabal.project (only ghc-8.10)
      if: startsWith(matrix.ghc, '8.10')
      shell: bash
      run: |
        cat >> cabal.project <<EOF
        allow-newer: *
        package cassava
          flags: -bytestring--lt-0_10_4
        EOF
    - uses: actions/cache@v1
      name: Cache dist-newstyle
      with:
        path: dist-newstyle
        key: ${{ matrix.os }}-${{ matrix.ghc }}-dist-newstyle-${{ github.sha }}
        restore-keys: |
          ${{ matrix.os }}-${{ matrix.ghc }}-dist-newstyle-

    # Build
    - name: Update package database
      shell: bash
      run: cabal v2-update
    - name: Configure build
      run: |
        cabal v2-build exe:pact --dry-run
        cabal v2-freeze
    - name: Sync from cabal cache
      if: matrix.cabalcache == 'true'
      uses: larskuhtz/cabal-cache-action@ecc751af6d31b3ed5a3b4aefdefd0ed6ef4cb414
      with:
        bucket: "kadena-cabal-cache"
        region: "us-east-1"
        folder: "${{ matrix.os }}"
        aws_access_key_id: "${{ secrets.kadena_cabal_cache_aws_access_key_id }}"
        aws_secret_access_key: "${{ secrets.kadena_cabal_cache_aws_secret_access_key }}"
    - name: Install build dependencies
      shell: bash
      run: cabal v2-build exe:pact --only-dependencies
    - name: Build
      shell: bash
      run: cabal v2-build exe:pact

    # Publish Artifacts
    - name: Prepare artifacts
      shell: bash
      run: |
        export VER=$(grep '^version' pact.cabal | sed -e 's/.*: *//')
        mkdir -p dist-newstyle/artifacts/applications
        cp dist-newstyle/build/*/ghc-${{ matrix.ghc }}/pact-${VER}/x/pact/build/pact/pact dist-newstyle/artifacts/applications
    - name: Publish applications
      uses: actions/upload-artifact@v1
      with:
        name: pact-applications.${{ matrix.ghc }}.${{ matrix.os }}
        path: dist-newstyle/artifacts/applications

    # Publish to S3
    - name: Publish applications to S3
      if: "!contains(matrix.os, 'windows')"
      shell: bash
      run: |
        tar -C ./dist-newstyle/artifacts/applications/ -czf $BINFILE '.'
        echo "created tar file: $BINFILE"
        ls $BINFILE
        aws s3 cp $BINFILE s3://$ARTIFACT_BUCKET/pact/
        echo "uploaded tar file to S3"
        aws s3api put-object-acl --bucket $ARTIFACT_BUCKET --key=pact/$BINFILE --acl public-read
        echo "set public read permission"
    - name: Link latest-build application in S3
      if: "!contains(matrix.os, 'windows') && contains(github.ref, 'master')"
      shell: bash
      run: |
        aws s3 cp s3://$ARTIFACT_BUCKET/pact/$BINFILE s3://$ARTIFACT_BUCKET/pact/$LATEST_BINFILE
        aws s3api put-object-acl --bucket $ARTIFACT_BUCKET --key=pact/$LATEST_BINFILE --acl public-read
